<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add a Product to <%=farm.name%></h1>
    <form action="/farms/<%=id%>/products" method="post">
        <label for="name"> Product Name : 
            <input type="text" name="name" id="name" placeholder="Product Name">
        </label>
        <br>
        <br>
        <label for="price">
            Product Price :
            <input type="number" name="price" id="price" placeholder="Product Price">
        </label>
        <br>
        <br>
        <label for="category">
            Select Category :
            <select name="category" id="category">
                <%for(let category of categories){%>
                    <option value="<%=category%>"><%=category%></option>
                <%}%>
            </select>
        </label>
        <br><br>
        <button>Submit</button>
        <br><a href="/farms/<%=farm._id%>">back to farm</a>
    </form>
</body>

</html>