<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=product.name%>
    </title>
</head>

<body>
    <h2>
        <%=product.name%>
    </h2>
    <ul>
        <li>price = $<%=product.price%>
        </li>
        <li><a href="/products?category=<%=product.category%>">
                <%=product.category%>
            </a></li>
            <li>This product belongs to <a href="/farms/<%=product.farm._id%."><%=product.farm.name%></u></li>
    </ul>
    <div>
        <a href="/products/<%=product._id%>/edit">Edit Product</a>
        <br><br>
        <form action="/products/<%=product._id%>?_method=DELETE" method="post"><button>Delete</button></form>
        <br><br>
        <a href="/products">&larr; All Products</a>
    </div>
</body>

</html>